<div class="container">
    <div class="display-flex lista-header">
        <div class="izquierda">
            <h3>Ganímedes</h3>
        </div>
        <div class="display-flex derecha">
            <h4>All</h4>
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/mono.png" alt="" matTooltip="¿Dónde está todo el mundo?">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">Revienta globitos</h4>
                    <h3 class="name name-primario">Monkey</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(160, 184, 255); border-color: #3e5cb9 !important; background: #202442 !important;">receive <span class="azulito">2.54x</span></button>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/moro.png" alt="" matTooltip="Si no estás muerto, no se ha acabado">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">Revienta globitos</h4>
                    <h3 class="name name-primario">Monkey</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button height-images">
                <img src="../../../assets/img/recursos/rigle.com.png" alt="">
            </div>
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(67, 250, 97); border-color: #1f7e1c !important; background: #202442 !important;">Apunta y dispara</button>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/anne.png" alt="" matTooltip="Oir tus susurros al viento">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">La medianoche es ahora</h4>
                    <h3 class="name name-primario">Anne</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button height-images">
                <img src="../../../assets/img/recursos/rosas.png" alt="">
            </div>
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(250, 82, 67); border-color: #dd1912 !important; background: #202442 !important;">Tuve un sueño</button>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/cerdito_alegre.png" alt="" matTooltip="No caeré en tentaciones... ahora si me empujan, no sé">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">Gordito y cabrón</h4>
                    <h3 class="name name-primario">Pig</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button height-images">
                <img src="../../../assets/img/recursos/equipo.png" alt="">
            </div>
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(116, 67, 250); border-color: #6426d8 !important;">Vamo a comer</button>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/house.png" alt="" matTooltip = "Soy un maldito genio">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">Todos somos miserables</h4>
                    <h3 class="name name-primario"> Dr. House</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button height-images">
                <img src="../../../assets/img/recursos/baston.png" alt="">
                <img src="../../../assets/img/recursos/vicodin.png" alt="">
            </div>
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(49, 246, 197); border-color: #20f8ff !important; background: #707bd102 !important;">Todos mienten</button>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="izquierda">
            <div class="portador">
                <div class="img-portador-container">
                    <img src="../../../assets/img/user/kakaroto.png" alt="" matTooltip="Vegeta me dice kakaroto">
                </div>
                <div class="name-container">
                    <h4 class="name name-secundario">Eres un grandísimo estúpido</h4>
                    <h3 class="name name-primario"> Gokú</h3>
                </div>
            </div>
        </div>
        <div class="derecha_buttons">
            <div class="margin_button height-images">
                <img src="../../../assets/img/recursos/esferas.png" alt="">
            </div>
            <div class="margin_button">
                <button mat-button mat-stroked-button style="color: rgb(49, 246, 197); border-color: #20f8ff !important; background: #707bd102 !important;">Todos mienten</button>
            </div>
        </div>
    </div>
</div>

