<section class="izquierda">
  <div class="haeder-heigth iconos-derecha">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>ondemand_video</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>add_alert</mat-icon>
    </button>
  </div>
  <div class="estadistica-container">
    <grafico-component></grafico-component>
  </div>
  <div class="armas-cont">
    <div>
      <arma-libre></arma-libre>
    </div>
    <div>
      <lista-armas></lista-armas>
    </div>
  </div>
</section>
<section class="medio">
  <contedido-principal></contedido-principal>
</section>
<section class="derecha">
  <pao-component></pao-component>
</section>