<div class="lista-container">
    <div class="display-flex lista-header">
        <div class="izquierda">
            <h4>Checked</h4>
            <h3>0.00 $</h3>
        </div>
        <div class="display-flex derecha">
            <h4>All</h4>
            <mat-checkbox class="example-margin" color="primary"></mat-checkbox>
        </div>
    </div>
    <div class="lista-body">
        <div>
            <mat-card class="example-card box-shadow">
                <div class="name-arma-container">
                <mat-icon>star</mat-icon>
                <h4>Desert West</h4> 
                </div>
                <img src="../../../assets/img/armas/arm_1.png" alt="Photo of a Shiba Inu">
                <div class="name-container">
                    <h4 class="name name-secundario">Last Win</h4>
                    <h3 class="name name-primario">Hurley</h3>
                </div>
            </mat-card>
            <mat-card class="example-card box-shadow">
                <div class="name-arma-container">
                <mat-icon>star</mat-icon>
                <h4>Desert West</h4> 
                </div>
                <img src="../../../assets/img/armas/arm_2.png" alt="Photo of a Shiba Inu">
                <div class="name-container">
                    <h4 class="name name-secundario">Last Win</h4>
                    <h3 class="name name-primario">Hurley</h3>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card box-shadow">
            <div class="name-arma-container">
              <mat-icon>star</mat-icon>
              <h4>Desert West</h4> 
            </div>
            <img src="../../../assets/img/armas/bomba.png" alt="Photo of a Shiba Inu">
            <div class="name-container">
                <h4 class="name name-secundario">Last Win</h4>
                <h3 class="name name-primario">Hurley</h3>
            </div>
          </mat-card>
          <mat-card class="example-card box-shadow">
            <div class="name-arma-container">
              <mat-icon>star</mat-icon>
              <h4>Desert West</h4> 
            </div>
            <img src="../../../assets/img/armas/spryte.png" alt="Photo of a Shiba Inu">
            <div class="name-container">
                <h4 class="name name-secundario">Last Win</h4>
                <h3 class="name name-primario">Hurley</h3>
            </div>
          </mat-card>
        </div> 
          
    </div>
</div>
    