<div class="pao">
    <div class="header-pao">
        <div class="contenedor">
            <div class="izquierda">
                <div class="portador">
                    <div class="img-portador-container">
                        <img src="../../../assets/img/user/pollo.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                    </div>
                    <div class="name-container">
                        <h3 class="name name-primario">Super Rooster</h3>
                    </div>
                </div>
            </div>
            <div class="derecha_buttons">
                <div class="margin_button height-images">
                    <img src="../../../assets/img/banderas/brasil.png" alt="" matTooltip="Brasil" matTooltipPosition="left" >
                </div>
            </div>
        </div>
    </div> 
    <div class="content-pao">
        <div class="boder-radius">
            <div class="message">
                <div class="encabezado">
                    <div class="haeder-heigth iconos-derecha">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>ondemand_video</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon>add_alert</mat-icon>
                        </button>
                    </div>
                </div>
                <hr class="hr">
                <div class="contenerdor-mensajes-user">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/anne_2.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Anne</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/monkey_user.jpg" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Monkey</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/house.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gregory</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/kakaroto.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gokú</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/anne_2.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Anne</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/monkey_user.jpg" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Monkey</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/house.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gregory</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/kakaroto.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gokú</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/anne_2.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Anne</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/monkey_user.jpg" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Monkey</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/house.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gregory</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="user-mesagge">
                        <div class="portador">
                            <div class="img-portador-container">
                                <img src="../../../assets/img/user/kakaroto.png" alt="" matTooltip="Si te mira fijo es por que te hará caldo">
                            </div>
                            <div class="name-container">
                                <div class="views">
                                    <h3 class="name name-primario">Gokú</h3>
                                    <mat-icon>done</mat-icon>
                                </div>
                                
                                <p>Su misterio cautiva, si indiferencia atrae.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                </div>     
            </div>
            <div class="content-input">
                <mat-form-field class="example-form-field">
                    <mat-label style="color: wheat;">Escribe algo</mat-label>
                    <input matInput type="text" [(ngModel)]="value" style="color: thistle;">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="acciones-message">
                <div class="iconos-action" style="color: teal;">
                    <mat-icon>local_library</mat-icon>
                    <p id="parrafo"></p>
                </div>
                <div class="botones-sonido heigth-100">
                    <button *ngIf="value" (click)="leer(value)" mat-fab color="warn" aria-label="Example icon button with a home icon">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button *ngIf="!value" (click)="escribir()" mat-fab aria-label="Example icon button with a home icon" matTooltip="Habla para copiar en el formulario...">
                        <mat-icon>mic</mat-icon>
                    </button>
                </div>
            </div>
        </div>
            
    </div>
</div>