<div class="contenedor">
    <div class="haeder-heigth">
        <div class="iconos-izquierda">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>nights_stay</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>face</mat-icon>
            </button>
        </div>
        <div class="iconos-derecha">
            <button mat-button mat-stroked-button style="color: #d6d9e8; border-color: #343a6b !important;">Refill</button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>account_balance_wallet</mat-icon>
            </button>
            <h3>665123.00 <span >$</span></h3>
        </div>    
    </div>
    <div class="width-100">
        <div class="cont-scroll">
            <mostrador-de-arma></mostrador-de-arma>
            <statistic-component></statistic-component>
        </div>
    </div>
        
</div>
    
    
